
{%if not centralized is defined or centralized == "none"%}
stages:
  - deploy
{%endif%}

{{env_name}}:
  stage: deploy
  script:
    - chmod +x ./install.sh
    - ./install.sh -e {{env_name}}
  only:
    refs:
      - /^(main.*)$/
    changes:
      - env/{{env_name}}.yml
{%- for role in roles_string_array.split(';') %}
      - roles/{{role}}/**/*
{%- endfor %}
      - install.sh
      - playbook-{{env_name}}.yml
  tags:
    - {{env_hashed_name}}
